body{
	background-color: #eceff4;
	height:100%;
}
.logo_back{
    position:absolute;
    top:-.9rem;
    left:0;
    background:#fff;
    width:100%;
	height:.9rem;
	z-index:100;
	box-sizing: border-box;
}
.logo_back2{
	position:fixed;
	left:0;
	top:0;
    background:#fff;
    width:100%;
	height:.9rem;
	z-index:100;
	box-sizing: border-box;
}
.switch_back{
	position:fixed;
	top:.8rem;
	left:0;
	display: block;
	background: #fff;
	width:100%;
	height:.9rem;
	z-index:100;
	transition: opacity .8s;
}
.logoimg{
	position: absolute;
	width: .64rem;
	height: .714rem;
	left: 50%;
	top: .098rem;
	margin-left: -.32rem;
	background-image: url('images/logo@3x.png');
	background-position:center;
	background-repeat:no-repeat;
	background-size:100%;
}
.pr{
	position: relative;
	background: #eceff4;
	padding:0 1rem .4rem;
}
.t_center{
	text-align: center;
}
.meetName{
	font-size: .36rem;
	color: #3c4d66;
	margin-bottom: .18rem;
	line-height: .48rem;
}
.meetInfo{
	padding-top: .08rem;
	font-size: .24rem;
	color: #aab9ca;
}
.listCon{
	background-color: #eceff4;
	/* min-height: 12rem; */
}
.loading{
	width:100%;
	height:.64rem;
	background-image: url('images/loading.svg');
	background-position:center;
	background-repeat:no-repeat;
	background-size: contain;
}
.loadAll{
	height:.4rem;
	font-size: .24rem;
	text-align: center;
    margin-bottom: .1rem;
    color: #aab9ca;
}
.bottomNav{
	position: fixed;
	left:0;
	right:0;
	bottom:0;
	height:1rem;
	background: #fff;
	box-shadow: 1px -1px 3px #d7dfea;
	font-size: 0;
}
.commNav{
	display: inline-block;
	font-size: .26rem;
	text-align: center;
	width:33.3%;
	height: 1rem;
	line-height: 1rem;
}
.activeTab{
	color:#298eff;
	background-color: #eceff4;
}
.commonTab{
	color:#aab9ca;
}
.mainCon{
	height: 100%;
    overflow: auto;
	padding-bottom: 1rem;
}
.switchTab{
	display: block;
	text-align: center;
	height: .9rem;
	line-height: .9rem;
	letter-spacing: .02rem;
	margin-bottom: .2rem;
}
.switchCon{
	position: relative;
	top:-.19rem;
	display: inline-block;
	width:5.4rem;
	height:.52rem;
	border: .02rem solid #298eff;
	border-radius: .12rem;
	font-size: 0;
}
.switchItem{
	display: block;
	width:2.7rem;
	height:.52rem;
	line-height: .52rem;
	text-align: center;
	color:#298eff;
	font-size: .24rem;
}
.switchLeft{
	position: absolute;
	left:0;
	top:.005rem;
	border-radius: .1rem 0 0 .1rem;
}
.switchRight{
	position: absolute;
	right:0;
	top:.005rem;
	border-radius: 0 .1rem .1rem 0;
}
.activeSwitch{
	color:#fff;
	background: #298eff;
}
.filterCondition{
	font-size: .24rem;
	color:#aab9ca;
	padding:0 .3rem;
	letter-spacing: .02rem;
	line-height: .36rem;
	background-color: #eceff4;
	height: .4rem;
}
.filterBtn{
	position: absolute;
	top:.15rem;
	right:.15rem;
	width:.6rem;
	height:.6rem;
	border-radius: .3rem;
	z-index: 10000;
}
.filterBtn span{
	position: absolute;
	display: inline-block;
	left: 0.15rem;
	top:.14rem;
	width:.3rem;
	height:.32rem;
}
.blueBtn{
	position: fixed;
	top:.15rem;
	right:.15rem;
	width:.6rem;
	height:.6rem;
	border-radius: .3rem;
	z-index: 10000;
	background: #298eff;
}
.blueBtn span{
	position: absolute;
	display: inline-block;
	left:.14rem;
	top:.14rem;
	width:.3rem;
	height:.32rem;
	background: url('images/Funnel_w.svg');
	background-size: cover;
}
.whiteBtn span{
	background: url('images/Funnel.svg');
	background-size: cover;
}
.blueBtnCon{
	position: fixed;
	top:0;
	left:0;
	width:1.2rem;
	height:1.2rem;
}
.filterBtnCon{
	position: fixed;
	top:0;
	right:0;
	width:1.2rem;
	height:1.2rem;
}
.searchBlueBtn{
	position: fixed;
	top:.15rem;
	left:.15rem;
	width:.6rem;
	height:.6rem;
	border-radius: .3rem;
	z-index: 10000;
	background: #298eff;
}
.searchBlueBtn span{
	display: inline-block;
	position: absolute;
	left: .14rem;
	top:.14rem;
	width:.32rem;
	height:.32rem;
	background: url('images/search_w.svg');
	background-size: cover;
}
.searchWhiteBtn{
	position: absolute;
	top:.15rem;
	left:.15rem;
	width:.6rem;
	height:.6rem;
	border-radius: .3rem;
	z-index: 10000;
}
.searchWhiteBtn span{
	position: absolute;
	display: inline-block;
	left: .14rem;
	top:.14rem;
	width:.36rem;
	height:.36rem;
	background: url('images/search_g.svg');
	background-size: cover;
}
.classifyContainer{
	position: fixed;
	top:.9rem;
	left:0;
	background: #fff;
	width:100%;
	z-index: 2;
}
.filterMask{
	position: fixed;
	left:0;
	top:1.8rem;
	right:0;
	bottom:0;
	opacity: 0.5;
	background-color: black;
	z-index: 1;
}
