//theme colors
$color-blue: #298eff;
$color-dark-blue: #1474e0;

$color-red: #ff5f57;
$color-yellow: #ffbd2e;

$color-1: #364256;
$color-2: #3c4d66;
$color-3: #54657e;
$color-4: #8392a8;
$color-5: #aab9ca;
$color-6: #c8d4e0;

$color-7: #eceff4;
$color-8: #ffffff;

$color-scroll: #dbddde;

$font-size-1: 10px;
$font-size-2: 12px;
$font-size-3: 13px;
$font-size-4: 14px;
$font-size-5: 15px;
$font-size-6: 16px;

