.showImg {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.uploadImg {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #ece8e8;
  img {
    width: 80px;
    height: 80px;
  }
  .bgDiv {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #999;
    opacity: .6;
    .delete {
      font-size: 30px;
      position: relative;
      left: 25px;
      top: 25px;
      cursor: pointer;
      color: #000;
    }
  }
}
.inputWraper {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  background: url('images/upload.png') center no-repeat;
  background-size: 60%;
  background-position: center 30%;
  .inputCon {
    width: 80px;
    height: 80px;
    opacity: 0;
    font-size: 0;
    cursor: pointer;
    position: absolute;
    left: 0;
    top:0;
  }
  .uploadTxt {
    display: inline-block;
    width: 80px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    text-align: center;
  }
}