.admin {
    color: red;
}
.wraper {
    padding: 24px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    margin-bottom: 20px;
    .row {
        .title {
            font-weight: bolder;
            text-align: right;
            height: 40px;
            line-height: 40px;
        }
        .content {
            text-align: left;
            line-height: 40px;
        }
        .TreeCon {
            text-align: left;
        }
    }
}
.pageCon {
    margin: 20px 0 10px 0;
    padding-left: 50px;
}
.btnCon {
    margin: 0 0 20px 0;
}
.btnCon Button {
    margin-right: 10px;
}
.tbCon {
    position: relative;
    .spin {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate('-50%', '-50%');
    }
}
.selectedRow {
    background-color: rgba(124, 217, 240, 0.25);
}